*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.orig
.ale_config
.lvimrc
valgrind.log
tags
libdarknet.a
libdarknet.so
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
weights/
backup/
VOCdevkit/
coco/
waymo/
local_cfg/
darknet
.fuse*
gpu-job*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
